* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
    background-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

.content {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: cornflowerblue;
}

.display-img {
    height: 50%;
    width: 300px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-link {
    padding: 10px;
    color: rgb(230, 37, 37);
    border: 1px solid rgb(238, 100, 100);
    text-decoration: none;
    border-radius: 6px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-link:hover {
    border: 1px solid rgb(230, 37, 37);
}

@media only screen and (max-width:600px){
    .content {
        height: 100%;
        width: 95%;
    }
    
    .display-img {
        height: auto;
        width: 80%;
    }

    .home-link{
        margin-top: 10%;
    }
}
