<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="login-box">
            <div class="button-box">
                <div class="login-section">Login</div>
                <div class="register-section">Register</div>
                <div id="toggle-button" class="login-button-render"></div>
            </div>
            <!--login form-->
            <form id="login-form" method="post">
                <div class="input-area">
                    <input type="text" placeholder="Username" name="username" required /><br>
                    <input type="password" placeholder="Password" name="password" required /><br>
                </div>
                <input type="submit" id="login-button" value="Login" /><br>
            </form>
            <!--register form-->
            <form id="register-form" class="hide">
                <div class="input-area">
                    <input type="text" placeholder="Username" name="user" required /><br>
                    <input type="email" placeholder="Email" name="email" required /><br>
                    <input type="password" placeholder="Password" name="pass" required /><br>
                    <input type="password" placeholder="Re-Password" name="repass" required /><br>
                </div>
                <input type="submit" id="register-button" value="Register" /><br>
            </form>
        </div>
    </div>

    <script src="{{url_for('static',filename='js/index.js')}}" defer></script>
</body>

</html>