<form class="navbar-item" action="{{url_for('search_movies')}}" method="GET">
    <span class="navbar-item">
        <div class="control">
            <div class="field">
                <input name="title" class="input" type="text" 
                placeholder="Search Movie" size="30">
            </div>
        </div>
    </span>
   
    <span class="navbar-item">
        <div class="control">
            <div class="select">
            <select name="category" class="is-hovered">
                <option value="imdb" selected="selected">Imdb</option>
                <option value="action">Action</option>
                <option value="crime">Crime</option>
                <option value="documentary">Documentary</option>
                <option value="drama">Drama</option>
                <option value="hindi">Hindi</option>
                <option value="history">History</option>
                <option value="horror">Horror</option>
                <option value="kids">Kids</option>
                <option value="nepali">Nepali</option>
                <option value="musical">Musical</option>
                <option value="romance">Romance</option>
                <option value="southindian">South Indian</option>
                <option value="sports">Sports</option>
                <option value="western">Western</option>
            </select>
            </div>
        </div>
    </span>
</form>
