{%extends 'layouts/layout.html'%}

{%block body%}
<h4 class="title is-4">
    <a href="{{url_for('movies')}}">/movies</a>
    <a href="{{url_for('movies', category=category)}}">/{{category}}</a>/
    {{movie.title}}
</h4>
<div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="data:;base64,{{movie.image}}">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{movie.title}} ({{movie.year}})</p>
          <p class="subtitle is-6">{{movie.director}}</p>
        </div>
      </div>  
      <br>
      <div class="content">
        {{movie.synopsis}} 
      </div>
      <div class="tags">
        {% if movie.genre %}
          {% for tag in movie.genre.split('/') %}
          <span class="tag is-info">{{tag}}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{%endblock%}