<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CORONA MOVIES</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/sorry.css')}}">
    <link rel='icon' href="{{url_for('static',filename='img/logo.png')}}" type='image/x-icon'>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Sorry! Page not available!</h1><br>
            <a href="{{url_for('index')}}">Go to Home Page</a>
        </div>
    </div>
</body>

</html>