{% extends 'layouts/layout.html'%}
{% block body %}

<!-- {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              {% set message_class = 'is-success' %}
              {% if category == 'error' %}
                  {% set message_class = 'is-danger' %}
              {% elif category == 'info' %}
                  {% set message_class = 'is-info' %}
              {% endif %}
                  <div class="notification {{ message_class }} ">
                      {{ message }}
                  </div>
          {% endfor %}
      {% endif %}
  {% endwith %} -->

{% if movies %}
<h3 class="title is-3">
  {{movies | length}}
  {% if movies | length == 1 %}
  movie
  {% else %}
  movies
  {% endif %}
  found!
</h3>
{% for movie in movies %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="data:;base64,{{movie.image}}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <a href="{{url_for('movie_details', category=category, movie_id=movie.id)}}">
            <strong>{{movie.title}}</strong>
          </a>
          <small>{{movie.director}}</small>
          <br>
          {{movie.genre}}
          <br>
          <time datetime="2016">{{movie.year}}</time>
        </p>
      </div>
      <nav class="level is-mobile">
        {% if category == 'imdb' %}
        <div class="level-left">
          <a class="level-item" aria-label="like" href="{{url_for('select_movies',
                        movie_id=movie.id)}}">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        {% endif %}
      </nav>
    </div>
  </article>
</div>
{% endfor %}
{% else %}
<hr>
<h3 class="title is-3">
  Sorry, no movie with that name found!
</h3>
<h2 class="subtitle">
  Try another one!
</h2>
{% endif %}
{% endblock %}